name: Static Assets

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: mkdir -p public && cp -r arbitrum arbitrum-nova avalanche base bsc celo ethereum fantom gnosis harmony moonbeam optimism polygon polygon-zkevm zksync-era public
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: public
